.CTA-section {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 70px;

  &__interactive-part {
    margin-bottom: 66px;
    text-transform: capitalize;
    transform: translateY(-35%);
  }

  &__download-button {
    box-sizing: content-box;
    padding: 13px 29px;
    margin-bottom: 12.5px;
    border-radius: 32px;
    border: 2px solid transparent;
    background: $main-color;
    color: #FFF;
    font-weight: 700;
    font-size: 18px;
    @media screen and (min-width: 481px) {
        padding: 23px 61px;
        margin-bottom: 18.5px;
        font-size: 21px;
    }
    &:hover {
      background: #FFF;
      color: $main-color;
      border-color: $main-color;
    }
  }

  &__trial-info {
    color: $info-text-color;
    font-size: 14px;
  }
  &__heading {
    margin-bottom: 23px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: $main-color-darker;
    font-size: 26px;
    line-height: 28px;
    @media screen and (min-width: 481px) {
      & {
        font-size: 42px;
        line-height: 42px;
      }
    }
  }

  &__product-description {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 36px;
    @media screen and (min-width: 481px) {
      font-size: 21px;
      line-height: 32px;
      margin-bottom: 36px;
    }
  }

}
.gitHub-badges-list {
  &__item {
    padding: 0 5px;
    @media screen and (max-width: 481px) {
      &:last-child {
        margin-top: 20px;
      }
    }
  }
}
.gitHub-badge {
  height: 26px;
  font-size: 12px;
  display: inline-flex;
  font-family: 'Arial', sans-serif;
  color: #24292e;
  font-weight: 600;
  transition: .2s cubic-bezier(.3,0,.5,1) color,background-color,border-color;

  &__action {
    height: 100%;
    padding: 0 1em;
    border-radius: 5px 0 0 5px;
    background: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04), inset 0 1px 0 rgba(27, 31, 35, 0.04);
    font-weight: 600;
    &:hover {
      background-color: #f3f4f6;
      border-color: rgba(21,31,35,0.15);
    }
  }

  &__action-logo {
    vertical-align: text-bottom;
    fill: #6a737d;
  }

  &__action-counter {
    box-sizing: border-box;
    height: 100%;
    padding: 5% 15px 0;
    border-radius: 0 5px 5px 0;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-left: none;
    box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04), inset 0 1px 0 rgba(27, 31, 35, 0.04);
    &:hover {
      color: #0366d6;
    }
  }
}

