.customer-reviews{
  min-width: 320px;
  background: url("../img/customer-reviews/testmonials-bg 1.jpg");
  background-size: cover;
  background-position: center;

  padding: 87px 0 22px 0;
  text-align: center;

  @media all and (min-width: 481px){
    padding-top: 87px;
  }

  &__title{
    font-family: $first-font;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 53px;

    @media all and (min-width: 481px){
      margin-bottom: 88px;
    }
  }

  &__wrapper{
    margin:0 auto;
    max-width: 1200px;
    @media all and (min-width: 481px){
      display: flex;
      align-items: flex-end ;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 68px;
    }
    @media all and (min-width: 1072px){
      margin-bottom: 108px;
      justify-content: space-around;
    }
  }

  &__footer{
    font-family: $second-font;
    font-size: 14px;
    line-height: 21px;
    color: #A291A5;
    position: relative;

    &:after{
      content:"";
      background:#645766;
      width: 245px;
      height: 2px;
      display: block;
      margin: 22px auto 0 auto;
    }
    @media all and (min-width: 993px){
      margin:0 auto;
      max-width:887px;
    }
  }
}

.review{
  margin-bottom: 45px;
  @media all and (min-width: 481px){
    width: 220px;
  }
  @media all and (min-width: 620px){
    width: 280px;
  }
  @media all and (min-width: 740px){
    width: 345px;
  }

  &__text{
    margin-top: 30px;

    font-family: $second-font;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }
}



