.header {
  min-width: 320px;

  background: url("../img/header/img 1.png") center;
  background-size: cover;
  box-sizing: border-box;
}

.site-nav {
  background: #27262A;
  padding: 32px 15px 32px 15px;
  position: relative;

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;

  @media all and (min-width: 481px) {
    display: block;
    padding: 22px 20px 18px 20px;
  }

  @media all and (min-width: 993px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    padding: 22px 50px 18px 50px;
  }

  &__menu-btn {
    width: 26px;
    height: 21px;
    cursor: pointer;
    background: center no-repeat;
    background-size: 100% 100%;
    border: none;
    outline: none;
    @media all and (min-width: 481px) {
      display: none;
    }
  }

  &__menu-btn--show-menu {
    background-image: url("../img/header/menu-show-icon.png");
  }

  &__menu-btn--hide-menu {
    height: 26px;
    background-image: url("../img/header/menu-hide-icon.png");
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.site-menu {
  display: none;

  @media all and (min-width: 481px) {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background: #27262a;
    width: 100%;
  }

  @media all and (min-width: 993px) {
    background: none;
  }

  &__item {
    padding: 25px 50px 25px 36px;
    background: #333333;
    border-bottom: 3px solid #3B3B3B;
    position: relative;
    box-sizing: border-box;

    &:hover :before {
      content: "";
      height: 53px;
      border-left: 8px solid $main-color;
      position: absolute;
      left: 0;
      top: 11px;

      @media all and (min-width: 481px) {
        border: none;
      }
    }

    &:hover .site-menu__item-link {
      color: $main-color;

      @media all and (min-width: 481px) {
        color: #FFFFFF;
      }
    }

    @media all and (min-width: 481px) {
      background: none;
      border: none;
      padding: 23px 0;
    }

    @media all and (min-width: 993px) {
      margin-right: 48px;
    }
  }

  &__item-link {
    font-family: $first-font;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;

    @media all and (min-width: 481px) {
      font-family: $first-font;
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;

      color: $main-color;
    }
    @media all and (min-width: 993px) {
      line-height: 15px;
    }
  }
}

.show-menu {
  display: block;
  position: absolute;
  top: 106px;
  right: 13px;
  list-style-type: none;
}

.nav-btn {
  background: $main-color;
  border-radius: 40px;
  width: 119px;
  height: 37px;
  border: none;

  font-family: $first-font;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;

  color: #FFFFFF;
  margin-right: 50px;

  &:hover {
    background: #FFFFFF;
    color: $main-color;
  }

  @media all and (min-width: 481px) {
    position: absolute;
    right: 20px;
    top: 24px;
    width: 145px;
    height: 37px;
    margin-right: 0;
  }

  @media all and (min-width: 993px) {
    position: static;
  }
}

.logo {
  @media all and (min-width: 481px) {
    display: flex;
    align-items: center;
    width: fit-content;
  }

  &:hover .logo__title {
    color: #FFFFFF;
  }

  &:hover .logo__img {
    display: none;
  }

  &:hover .logo__img-hover {
    display: flex;
  }

  &__img-hover {
    display: none;
  }

  &__img {
    fill: white;
  }

  &__title {
    display: none;
    @media all and (min-width: 481px) {
      display: flex;
      font-family: $second-font;
      font-weight: bold;
      font-size: 24px;
      line-height: 16px;
      text-transform: uppercase;
      color: $main-color;
      margin-left: 17px;
    }
  }
}

.header-content {
  padding: 50px 10px 416px 10px;
  text-align: center;

  @media all and (min-width: 481px) {
    padding: 69px 10px 470px 10px;
  }

  &__title {
    font-family: $first-font;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;

    color: #FFFFFF;
    margin-bottom: 19px;
  }

  &__text {
    font-family: $first-font;
    font-size: 18px;
    line-height: 24px;
    color: $main-color;
    margin-bottom: 14px;
  }

  &__description {
    font-family: $first-font;
    font-size: 14px;
    line-height: 14px;

    color: $info-text-color;
  }
}