.pricing-plans {
  font-family: 'Montserrat', sans-serif;
  background: url("../img/pricing-options/pricing-options-background.png");
  background-size: 100% 100%;
  color: #FFF;
  text-align: center;
  padding-bottom: 10px;
  @media (min-width: 481px) {
    padding: 83px 0 94px;
  }

  &__heading {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 32px;
    @media (min-width: 554px) {
      line-height: 50px;
      margin-bottom: 39px;
      font-size: 48px;
    }
    @media (min-width: 1008px) {
      margin-bottom: 113px;
    }
  }

  &__list {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    column-gap: 25px;
    row-gap: 30px;
    @media (min-width: 620px) {
      grid-template-columns: 1fr 1fr;
      &-item:nth-child(2n-1) {
        justify-self: right;
      }
      &-item:nth-child(2n) {
        justify-self: left;
      }
    }
    @media (min-width: 1180px) {
      grid-template-columns: repeat(4, 1fr);
      &-item:nth-child(n) {
        justify-self: center;
      }
    }
  }
}

.pricing-option {
  position: relative;
  width: 257px;
  background: rgba(255, 255, 255, 0.11);

  &__title {
    font-size: 24px;
    padding: 1.5em 0;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.06);
  }

  &__price {
    display: block;
    margin: 30px 0 20px;
    font-size: 60px;
    line-height: 90px;
    font-weight: 700;

    &::before {
      vertical-align: top;
      font-weight: 400;
    }

    &--currency--USD {
      &::before {
        content: '$';
      }
    }
  }

  &__billing-period {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    &::after {
      margin: 30px auto 38px;
      content: '';
      display: block;
      width: 60px;
      height: 5px;
      background: $main-color;
    }
  }

  &__features-list {
    min-height: 60px;
    line-height: 21px;
    text-transform: capitalize;
  }

  &__action-btn {
    font-family: 'Montserrat', sans-serif;

    border-radius: 1.5em;
    padding: 1em 2.3em;
    margin: 1em auto 2em;
    background: rgba(255, 255, 255, 0.15);
    text-transform: uppercase;
    color: #FFF;
  }


  &--recommended-option {
    $C: '.pricing-option';
    background: rgba($special-pricing-background,0.84);
    min-width: 299px;
    #{$C}__title {
      padding: 2em 4em;
      background: rgba(0, 0, 0, 0.11);
    }
    #{$C}__price {
      font-size: 84px;
    }
    #{$C}__billing-period::after{
      margin: 46px auto 40px;
    }
    #{$C}__features-list {
      min-height: 113px;
    }
  }
}
