.product-features {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

  @media all and (min-width: 992px) {
    background: #F4F4F4;
    padding-top: 100px;
  }

  &__heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: $main-color;
    margin-bottom: 36px;
    @media all and (min-width: 481px) {
      font-size: 42px;
      line-height: 44px;
      margin-bottom: 50px;
    }
    @media all and (min-width: 992px) {
      font-size: 48px;
      line-height: 50px;
    }
    @media all and (min-width: 1200px) {
      display: inline-block;
      margin-bottom: 19px;
    }

    &::before {
      content: '<';
    }

    &::after {
      content: '>';
    }
  }

  &__list {
    box-sizing: border-box;
    @media all and (min-width: 481px) {
      padding-left: 20px;
    }
    @media all and (min-width: 992px) {
      padding: 0 1% 0 80px;
      float: left;
      width: 50%;
    }
  }

  &__editor-preview {
    float: left;
    height: 381px;
    margin-right: -10px;
    @media all and (min-width: 481px) {
      height: 519px;
    }
    @media all and (min-width: 700px) {
      float: right;
    }
    @media all and (min-width: 992px) {
      width: 50%;
      object-fit: cover;
      object-position: left;
    }
  }

}

.product-feature {
  margin-bottom: 40px;
  @media all and (min-width: 481px) {
    display: flex;
  }
  &__illustration-wrapper {
    width: 111px;
    margin: 0 auto 27px;
    @media all and (min-width: 481px) {
      margin: 0 27px 0 0;
    }
    img {
      padding: 0 calc((111px - 100%)/2);
      box-sizing: border-box;
    }
  }

  &__description-container {
    text-align: center;
    @media all and (min-width: 481px) {
      text-align: left;
    }
  }

  &__title {
    margin-bottom: 14px;
    color: $accent-text-color;
  }

  &__description {
    font-size: 14px;
    line-height: 21px;
    color: $info-text-color;
    @media all and (min-width: 481px) {
      text-align: left;
      margin-bottom: 0;
    }
  }
}
