$main-color:#8D81AC;
$main-color-darker: #635C73;
$accent-text-color: #323232;
$info-text-color: #848E97;
$special-pricing-background: #463048;
$first-font:'Montserrat', sans-serif;
$second-font: 'Lato', sans-serif;